

{% extends 'core/base.html' %}

{% block content %}



<div class="d-flex align-items-center justify-content-center min-vh-100 bg-white" style="padding-top: 0px;">
   
    <div class="login-container fade-in-up">
        <div class="login-info">
            <h2 class="fw-bold">Inicia Sesión</h2>
            <p class="mt-3">Accede a tu cuenta<br>para gestionar información, servicios y<br>operaciones internas de forma segura.</p>
        </div>

       <form method="post" class="login-form" >
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}

            {% csrf_token %}



           <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <div class="text-danger small">{{ form.email.errors.0 }}</div>
            {% endif %}
        </div>

        <div class="mb-4">
            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.password.errors %}
                <div class="text-danger small">{{ form.password.errors.0 }}</div>
            {% endif %}
        </div>


            
            <button type="submit" class="btn w-100">Acceder</button>
            <div class="text-center mt-3">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>




        </form>
    </div>



{% endblock %}

