{% extends 'core/base.html' %}

{% block content %}



{% load static %}





<div class="portada-azul">
  <div class="d-flex justify-content-center align-items-center text-center">
    <h1 class="titulo-portada-entrada "style="padding: 50px 0">
      Política De Cookies
    </h1>
  </div>
</div>





<div class=" bg-white bodercus" style="margin-top: -30px; position: relative; padding-top: 50px;">
  

<div class="container pb-4 pt-4">

  
 <p>
   En DepaUni, utilizamos cookies para mejorar la experiencia del usuario en nuestro sitio web y ofrecer servicios personalizados. Esta política explica qué son las cookies, cómo las utilizamos y cómo puedes gestionarlas.
  </p>

 <h5 class="mt-4"><strong>1. ¿Qué son las cookies?</strong></h5>
  <p>
    Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo (computadora, teléfono móvil, tablet) cuando visitas un sitio web. Permiten reconocer tu navegador y guardar información sobre tu visita, como preferencias o sesión iniciada.
  </p>


 <h5 class="mt-4"><strong>1. Responsable del tratamiento</strong></h5>
 
 <ul>
  <li><strong>Titular:</strong> DepaUni</li>
  <li><strong>Dirección:</strong> Nicolás Delgado</li>
  <li><strong>Correo electrónico de contacto:</strong> contacto@depauni.com</li>
  <li><strong>Teléfono de contacto:</strong> +593 00000000</li>
  <li><strong>Ciudad y país:</strong> Riobamba - Ecuador</li>
</ul>

 

  <h5 class="mt-4"><strong>2. ¿Qué tipos de cookies usamos?</strong></h5>
  <p>
    En nuestro sitio web usamos los siguientes tipos de cookies:
  </p>

<ul>
  <li>Cookies necesarias: Permiten el funcionamiento básico del sitio, como la navegación o el acceso a áreas seguras.</li>
  <li> Cookies de preferencias: Guardan configuraciones personalizadas como idioma o ubicación.</li>
  <li>Cookies estadísticas (analíticas): Recogen datos anónimos sobre cómo usas la web, para ayudarnos a mejorarla (por ejemplo, Google Analytics).</li>
  <li>Cookies de marketing: Se usan para mostrar publicidad relevante y personalizada (por ejemplo, Facebook Pixel o Google Ads).</li>
  
</ul>


  <h5 class="mt-4"><strong>3. ¿Cómo usamos las cookies?</strong></h5>
  <p>
   Las cookies en DepaUni se usan para:
  </p>
<ul>
  <li>Recordar tus preferencias al navegar.</li>
  <li>Analizar el uso del sitio para mejorar su rendimiento.</li>
  <li>Mostrarte contenido relevante y ofertas personalizadas.</li>
  <li>Mantener la sesión iniciada en tu cuenta de usuario.</li>
  
  
</ul>






  <h5 class="mt-4"><strong>4. ¿Cómo puedes gestionarlas?</strong></h5>
  <p>
   Al ingresar por primera vez al sitio, te pediremos tu consentimiento mediante un banner. Puedes aceptar todas, rechazarlas o configurarlas.
  </p>
    <p>
   También puedes gestionar y eliminar cookies directamente desde tu navegador:
  </p>
<ul>
  <li>Chrome: Configuración > Privacidad y seguridad > Cookies.</li>
  <li>Firefox: Opciones > Privacidad y seguridad.</li>
  <li>Safari: Preferencias > Privacidad.</li>
  <li>Edge: Configuración > Cookies y permisos del sitio.</li>
  
</ul>






   <h5 class="mt-4"><strong>5. Cookies de terceros</strong></h5>
  <p>
   Usamos servicios de terceros que también pueden colocar cookies en tu navegador, como:
  </p>
<ul>
  <li> Google Analytics</li>
 <li> Facebook Pixel</li>
 <li> Stripe (pasarela de pagos)</li>
  
</ul>
  <p>
  Estos servicios tienen sus propias políticas de privacidad y cookies.
  </p>




  <h5 class="mt-4"><strong>6. Actualizaciones</strong></h5>
  <p>
    Nos reservamos el derecho de modificar esta Política de Cookies. Cualquier cambio será informado en nuestro sitio con la fecha de actualización.
  </p>


</div>





</div>

 




{% endblock %}





